<div class="modal">
  <div class="modal-content">
    <h2>Add Task</h2>
    <form (submit)="submitForm($event)">
      <div>
        <label>Add Task</label>
        <input type="text" name="task" [(ngModel)]="task" #taskInput="ngModel" required />
        <div *ngIf="taskInput.invalid && taskInput.touched">
          <div *ngIf="taskInput.errors?.['required']" style="color: red">Task required!</div>
        </div>
      </div>
      <button type="submit" [disabled]="taskInput.invalid">Save</button>
      <button type="button" (click)="closeDialog()">Close</button>
    </form>
  </div>
</div>
