<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-header">
      <button class="previous-btn" (click)="previousMonth()">Previous</button>
      <div>{{ firstDayOfMonth.toFormat('MMMM yyyy') }}</div>
      <button class="next-btn" (click)="nextMonth()">Next</button>
    </div>

    <div class="calendar-weeks-table">
      <div class="calendar-weeks-table-cell" *ngFor="let day of weekDays">
        {{ day }}
      </div>
    </div>

    <div class="calendar-table">
      <div class="calendar-table-cell" (click)="openDialog(day)" *ngFor="let day of daysOfMonth" [ngClass]="{'other-month': !isCurrentMonth(day)}">
        {{ day.day }}
      </div>
    </div>
  </div>
  <app-task-list [tasks]="tasks"></app-task-list>
</div>


